/*
| ----------------------------
|   Login Page CSS
| ----------------------------
*/

* {
    padding: 0;
    margin: 0;
    height: 100%;
    
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
    
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    
}


/* login box (wrapper) */
.login-wrapper{
    display: flex;
    align-items: center;
    margin: auto;
    min-width: 700px;
}

.content-login{
    background-color: #C3CFD9;
    height: 500px;
    width: 700px;
    display: block;
}
.content-login > .image-wrapper{
    text-align: center;
    position: relative;
    height: auto;
}

.content-login > .image-wrapper > img{
    max-width: 100px;
    height: auto;
    padding: 20px 0;
    display: inline-block; 
}
.title-wrapper{
    width: 500px;
    height: 40px;
    background-color: #DFE6ED;
    margin: 0 auto; 
}
.title-wrapper > h5{
    text-align: center;
    line-height: 40px;
}

.form-login{
    width: 500px;
    max-height: 35px;
    margin: 80px 150px;
}

.form-login > .wrapper-email , .wrapper-password{
    display: flex;
    flex-direction: row;
}
.form-login > .wrapper-password{
    margin: 10px 0;
}
.form-login > .wrapper-form > input{
    margin: 0 120px;
}

.form-login > .wrapper-form > .form-label{
    width: 100%;
    max-width: 20px;
}




/* Button */
.wrapper-button{
    max-height: 40px;
    display: flex;
    justify-content: center;
}

.wrapper-button > button{
    padding: 0 40px;
}

/*
| ----------------------------
|   Footer
| ----------------------------
*/
.footer {
    max-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1572px;
    background-color: #FFFFFF;
    color: ##2C3E4E;
    text-align: left;
    padding: 10px 30px;
    font-weight: 600;
    border-top: 3px solid #d8d8d8;

}




















